apiVersion: {{ include "infrastructureApiVersion" . }}
kind: VCDCluster
metadata:
  name: {{ include "resource.default.name" $ }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    {{- include "labels.common" . | nindent 4 }}
    {{- include "preventDeletionLabel" $ | nindent 4 }}
spec:
  {{- with .Values.global.providerSpecific }}
  site: {{ .site }}
  org: {{ .org }}
  ovdc: {{ .ovdc }}
  ovdcNetwork: {{ .ovdcNetwork }}
  {{- end }}

  {{- with .Values.global.connectivity.network }}
  # Picks an IP automatically if unset
  {{- if and .controlPlaneEndpoint.host .controlPlaneEndpoint.port }}
  controlPlaneEndpoint:
    host: {{ .controlPlaneEndpoint.host }}
    port: {{ .controlPlaneEndpoint.port }}
  {{- end }}

  loadBalancerConfigSpec:
    vipSubnet: {{ .loadBalancers.vipSubnet }}
  {{- end }}

  # Not tested - not sure how
  {{- if .Values.internal.rdeId }}
  rdeId: {{ .Values.internal.rdeId | quote }}
  {{- end }}
  {{- if .Values.internal.parentUid }}
  parentUid: {{ .Values.internal.parentUid | quote }}
  {{- end }}
  {{- if .Values.internal.useAsManagementCluster }}
  useAsManagementCluster: {{ .Values.internal.useAsManagementCluster }}
  {{- end }}
  {{- if .Values.internal.skipRde }}
  skipRDE: {{ .Values.internal.skipRde }}
  {{- end }}

  # Authentication  
  userContext:
    secretRef:
      name: {{ .Values.global.providerSpecific.userContext.secretRef.secretName }}
      namespace: {{ .Release.Namespace }}
