global:
  managementCluster: "test-mc"
  connectivity:
    baseDomain: "test.gigantic.io"
    network:
      loadBalancers:
        vipSubnet: 10.205.9.254/24
      extraOvdcNetworks:
        - another-test-network
      staticRoutes:
        - destination: 10.2.3.0/24
          via: 10.9.8.7
        - destination: 10.20.30.0/24
          via: 10.9.8.7
    proxy:
      enabled: true
      httpProxy: "http://proxy.test.gigantic.io:3128"
      httpsProxy: "http://proxy.test.gigantic.io:3128"
      noProxy: "test.gigantic.io,some.other.domain,10.0.0.0/24"
  controlPlane:
    replicas: 1
    oidc:
      issuerUrl: https://dex.gerbil.test.gigantic.io
      clientId: "dex-k8s-authenticator"
      usernameClaim: "email"
      groupsClaim: "groups"
      caPem: ""
    machineTemplate:
      catalog: giantswarm
  metadata:
    description: "test cluster"
    name: "test"
    organization: "giantswarm"
  nodePools:
    worker:
      catalog: giantswarm
      replicas: 2
  providerSpecific:
    org: test
    ovdc: test
    ovdcNetwork: test
    site: "https://test.cloud"
    userContext:
      secretRef:
        secretName: vcd-credentials
  release:
    version: 27.0.0
cluster:
  internal:
    ephemeralConfiguration:
      offlineTesting:
        renderWithoutReleaseResource: true
  providerIntegration:
    components:
      systemd:
        timesyncd:
          ntp:
            - "10.10.10.10"
